body {
    background-color: #16161A;
    color: white;
    min-height: 100vh;
}
nav {
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px 0;
    background-color:  #232E35;;
}
nav .icon {
    max-width: 30px;
    color: thistle;
}
nav .icon img {
    color: thistle!important;
    max-width: 30px;
   
}

